/* EvaIandEHome.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000000;
}

.ie-home {
  max-width: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  background-image: linear-gradient(rgb(231, 212, 235), rgb(152, 211, 23));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.ie-home header {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-section h1 {
  color: #000000;
  margin-bottom: 10px;
}

.welcome-section p {
  color: #000000;
  margin-bottom: 20px;
}

.ie-home main {
  margin-bottom: 40px;
}

.ie-home section {
  margin-bottom: 40px;
}

.services-section h2,
.global-reach-section h2,
.contact-section,
h2 li {
  color: #000000;
  margin-bottom: 10px;
}

.services-section .service h3 {
  color: #000000;
  margin-bottom: 10px;
}

/* Animation css */
.main-containers {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 100px 0 50px 0;
  justify-content: space-evenly;
}
.containers-part {
  width: 450px;
  height: 505px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  border: 2px solid black;
  margin: 30px;
}

.photo-containers {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.photo-containers img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  position: absolute;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.photo-name {
  margin-top: 10px;
  text-align: center;
  color: black;
}
.photo-name h2 a {
  font-size: 1.5rem;
  cursor: pointer;
}
.photo-name h2 a:hover {
  color: rgb(32, 25, 242);
}
.photo-containers:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.08);
}

.ppppppppp {
  width: 100%;
  height: 100vh;
}
